/* ===  UNIVERSAL === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, p {
  font-family: 'Zen Maru Gothic', sans-serif;
}


/* ===  SECTION === */
.dojo {
  position: relative;
  background-image: url("./resources/images/background0.png");
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -10px;
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  padding-top: 2%;
}

.text-box {
  background-color: #F9CB40;
  color: black;
  max-width: 50%;
  padding: 3rem;
  margin-left: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.text-box h1 {
  font-size: 3.5rem;
}

.text-box p {
  font-size: 1.7rem;
}

.wise {
  padding: 0;
  margin: 0;
  width: 400px;
  position: absolute;
  bottom: 0px;
  transform: translateY(50px);
  right: 200px;
  transition: opacity 0.4s ease-in-out;
  opacity: 9;
}




