/* === UNIVERSAL RESET === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Zen Maru Gothic', sans-serif;
}

/* === SECTION STYLES === */
.dojo {
  position: relative;
  background-image: url("resources/images/background0.png");
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* padding-top: 2rem; */
  overflow: hidden;
}

.text-box {
  background-color: #F9CB40;
  color: black;
  max-width: 50%;
  padding: 3rem;
  margin: 1rem auto 0 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.text-box h1 {
  font-size: 3.5rem;
}

.text-box p {
  font-size: 1.7rem;
}

.wise {
  width: 400px;
  position: absolute;
  bottom: 0;
  right: 200px;
  transform: translateY(15%);
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
  cursor: pointer;
}

.speech-bubble {
  position: absolute;
  bottom: 60%;
  right: 5%;
  background-color: #1F8A70;
  color: #F2F2F2;
  padding: 3rem 2rem;
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  font-size: 1.7rem;
  display: none;
  transition: opacity 0.3s ease;
}

.speech-bubble::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 30px;
  border-width: 10px;
  border-style: solid;
  border-color: #1F8A70 transparent transparent transparent;
}
